<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/car_management_system?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="77777777"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/mapper/User/UserMapper.xml"/>
        <mapper resource="com/mapper/Login/LoginMapper.xml"/>
        <mapper resource="com/mapper/Record/RecordMapper.xml"/>
        <mapper resource="com/mapper/Car/CarMapper.xml"/>
        <mapper resource="com/mapper/Excel/ExcelMapper.xml"/>
    </mappers>
</configuration>